/*
* @Author: wdy
* @Date:   2018-06-13 14:30:41
* @Last Modified by:   wdy
* @Last Modified time: 2018-06-13 15:54:24
*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}