/*
* @Author: wdy
* @Date:   2018-06-22 11:20:58
* @Last Modified by:   wdy
* @Last Modified time: 2018-06-22 14:00:40
*/

.ec-input {
  font-size: 0;
  label {
    font-size: 14px;
    line-height: 32px;

    display: inline-block;

    min-width: 80px;
    height: 32px;
    padding-right: 10px;

    text-align: right;
  }
  .el-input {
    width: 193px;
  }
}
